<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  routerLink="/assingment/communication" class="navbar-brand">Home</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/assingment/directives">Directives</a></li>
                <!-- <li routerLinkActive="active"><a routerLink="/assingment/login">auth</a></li> -->
                <li  routerLinkActive="active"><a routerLink="/assingment/dataBinding">Data Binding </a></li>
                <li  routerLinkActive="active"><a routerLink="/assingment/forms">Forms </a></li>
                <li  routerLinkActive="active"><a routerLink="/assingment/veg">Vegetables </a></li>
                <li  routerLinkActive="active"><a routerLink="/assingment/list">View Order </a></li>
                <li  routerLinkActive="active"><a routerLink="/assingment/pipe">Pipe </a></li>
                <li  routerLinkActive="active"><a routerLink="/assingment/firebase">Http Client </a></li>
                       </ul>
                       <ul class="nav navbar-nav navbar-right">
                        <li >
                          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                        </li>
                        </ul>
        </div>
    </div>
</nav>