<button class="btn btn-primary" (click)="toggleData()">Display Details</button>
<p *ngIf="showData">India is my country!</p>
<div *ngFor="let items of data; let i = index"
[ngStyle]="{backgroundColor: i >=4 ? 'blue' :'transparent'}"
[ngClass]="{'white-text': i>=4}">{{items}}</div>