<button class="btn btn-success" (click)="onTdFormView()">Tempalate Driven Form</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-success" (click)="onReactiveFormView()">Reactive Form</button>
<div class="container" *ngIf="!showReactiveFormView">
    <div class="row">
        <div class="col">
            <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" ngModel name="email" required email
                    #email="ngModel" class="form-control">
                    <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
                </div>
                <div class="form-group">
                    <label for="subscription"> Choose a Subscription</label> 
                    <select name="subscription" id="subscription" ngModel class="form-control">
                        <option *ngFor="let subscription of subData" [value]="subscription">{{subscription}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" ngModel name="password" required
                    #password="ngModel" class="form-control">
                    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password</span>
                </div>
                 <button class="btn btn-primary" [disabled]="!userForm.valid" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showTemplateDirvenFormView">
    <div class="row">
        <div class="col">
            <form [formGroup]="projctForm" (ngSubmit)="onReactiveFormSubmit()">
                <div class="form-group">
                    <label for="name">Project Name</label>
                    <input type="text" id="name" formControlName="projectName" class="form-control">
                    <span class="help-block" *ngIf="!projctForm.get('projectName').valid && projctForm.get('projectName').touched">Please enter a valid project name</span>
                </div>
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" formControlName="email" class="form-control">
                    <span class="help-block" *ngIf="!projctForm.get('email').valid && projctForm.get('email').touched">Please enter a valid email</span>
                </div>
                <div class="form-group">
                    <label for="status"> Project Status</label> 
                    <select  id="status" formControlName="status" class="form-control">
                        <option *ngFor="let status of status" [value]="status">{{status}}</option>
                    </select>
                </div>
                 <button class="btn btn-primary" [disabled]="!projctForm.valid" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

  <table *ngIf="!formData">
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Subscription</th>
    </tr>
    <tr *ngFor="let userData of userData">
      <td>{{userData?.email}}</td>
      <td>{{userData?.password}}</td>
      <td>{{userData?.subscription}}</td>
    </tr>
    <tr>
  </table>
  <table *ngIf="!data">
    <tr>
      <th>Project Name</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let userData of projectData">
      <td>{{userData?.projectName}}</td>
      <td>{{userData?.email}}</td>
      <td>{{userData?.status}}</td>
    </tr>
    <tr>
  </table>
  