<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="text" class="form-control" id="inputEmail4" formControlName="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="inputPassword4" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Mobile</label>
          <input type="text" class="form-control" formControlName="mobNo" id="inputEmail4" placeholder="Mobile">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Email</label>
          <input type="email" class="form-control" formControlName="email" id="inputPassword4" placeholder="Email">
        </div>
      </div>
    <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <button class="btn btn-danger" *ngIf="userData.length > 0" (click)="onClear()">clear data</button>
  <div>
  <table class="table" *ngIf="userData.length > 0">
    <thead>
      <tr>
        <th scope="col">Sr no</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Mob No</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of userData; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.mobNo}}</td>
        <td>{{data.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <div *ngIf="userData.length == 0">
    <h3>No data.</h3>
</div>