<h2>Vegetables List</h2>
<p>Vegetables are parts of plants that are consumed by humans or other animals as food.</p>
<div class="row">
  <div class="column"  *ngFor="let veg of vegitables; ">
    <div class="card">
      <h3><img
        [src]="veg.imagePath"
        alt="{{ veg.name }}"
        class="img-responsive"></h3>
      <p style="font-size: large;">{{ veg.name | uppercase}}</p>
      <p>{{ veg.discription }}</p>
      <p>Price- {{ veg.amount }}</p>
      <button type="button" class="btn btn-primary" (click)="addToOrder(veg)">Add to Order</button>
    </div>
  </div>
</div>
