<div *ngIf="isLoading" style="text-align: center;">
<app-loading-spinner></app-loading-spinner>
</div>
<div class="alert alert-danger"  *ngIf="error">
<p>{{error}}</p>
</div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Login Form -->
      <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)" >
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="email" ngModel required email>
        <input type="text" id="password" class="fadeIn third" ngModel name="password" required minlength="6" placeholder="password">
        <input type="submit" class="fadeIn fourth"  [disabled]="!logInForm.valid" [value]="isLoginMode ? 'Login' : 'Submit'">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover"  (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Register' : 'Login' }}</a>
      </div>
  
    </div>
  </div>