<div class="row">
    <div class="col">
        <div>
            <a routerLink="/veg" class="btn btn-secondary">Back </a>
        </div>
        <h2 *ngIf="items.length > 0">Order List</h2>
        <table class="table" *ngIf="items.length > 0">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let data of items">
              <td><img style="max-height:7rem" [src]="data.imagePath"></td>
              <td>{{data?.name}}</td>
              <td>{{data?.amount}}</td>
              <td>{{data?.Quantity}}</td>
              <td>{{data?.amount*data?.Quantity}}</td>
              <td><button class="btn btn-danger" (click)="removeFromCart(data.name)">Remove</button></td>
            </tr>
            <tr>
          </table>
          <div *ngIf="items.length == 0">
              <h3>No Vegetables  selected yet.</h3>
          </div>
    </div>
</div>




