<div class="container">
    <div class="row">
        <div class="col">
            <label>Username</label><input type="text" [(ngModel)]="userName">
        </div>
        <div class="col">
            <label>Show Username</label> <span>{{userName}}</span>
        </div>
        <div class="col">
            <button class="btn btn-primary" [disabled]="userName == '' " (click)="onReset()">Reset</button>
        </div>
    </div>
</div>