<div class="container">
  <div class="grid-container">
    <div>
        <h2>Pipe examples</h2>
        <div class="list-group">
          <p class="list-group-item"><code>async</code>: Time: {{ time | async }}</p>
          <p class="list-group-item"><code>date</code>: Time: {{ time | async |date }}</p>
          <p class="list-group-item"><code>currency</code>: Price: {{ currencyData | currency }}</p>
          <p class="list-group-item"><code>percent</code>: Percent: {{ currencyData | percent }}</p>
        </div>
    </div>
    <div>
        <h2>Custom Pipe example </h2>
        <div class="form-group">
            <label >Please Enter Text</label>
            <input type="text" [(ngModel)]="userName" class="form-control">
            
        </div>
        <div class="form-group">
            <label for="email">Find Length</label>
            <span class="form-control">{{userName | customPipe: 10}}</span>
        </div>
       </div>
  </div>
  </div>