<app-game-control (intervalFired)="onIntervalFired($event)" (clearData)="onDataClear()"></app-game-control>
<div >
    <app-even *ngFor="let evenNumber of evenNumbers" [evenNumber]="evenNumber"></app-even>
    <app-odd *ngFor="let oddNumber of oddNumbers" [oddNumber]="oddNumber"></app-odd>
</div>