<button class="btn btn-success" (click)="onStartGame()">Start Game</button>
<button class="btn btn-danger" (click)="onPauseGame()">Pause Game</button>
<button class="btn btn-primary" (click)="onClear()">Clear</button>
